{varType App\Model\Entities\Cart $cart}

{block content}
<div class="container">
    <h1 n:block="title">Košík</h1>

    {control cart:list}
    {if $cart->getTotalCount() > 0}
        {control userDetailsForm}
    {else}
        <a class="green-btn btn mt-2" n:href="Product:list">Zpět k nákupu</a>
    {/if}
</div>