{varType App\Model\Entities\Cart $cart}

<div n:snippet="info" data-naja-snippet-cache="off" class="cart-container">
  <a href="{plink Cart:default}">
    <img src="{$basePath}/img/cart.png" alt="cart" />
  </a>
  <div n:if="$cart->getTotalCount() > 0" class="cart-count">{$cart->getTotalCount()}</div>
  <div n:if="$cart->getTotalCount() > 0" class="cart-price">
    {$cart->getTotalPrice()|number:0,',',' '}
    <img src="{$basePath}/img/emerald.png" alt="priceImg" />
  </div>
</div>