.table td.order-expand {
    background-color: #343a40;
    color: white;
    border-radius: 5px;
    outline: none;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    text-align: center;
    display: block;
    margin-top: 10px;
}

.expanded-row {
    display: none;
}

.expanded-row.open {
    display: table-row;
}

.table-container {
    max-width: 100%;
    overflow: auto;
}

.table-container .table {
    min-width: 660px;
}