.product-name {
    display: inline;
}

.cart-product-img {
    margin-right: 15px;
}

.cart-product-currency-img {
    width: 1rem;
}

.cart-total-price {
    font-weight: bold;
}

.available {
    color: green;
    padding: 0;
    margin: 0;
}

.not-available {
    color: red;
    padding: 0;
    margin: 0;
}