{varType App\Model\Entities\Product[] $products}
{varType bool $isFilterOpen}
{block content}

<div class="products-layout">
    <div class="products-filter {if $isFilterOpen}open{/if}">
        <h3>Filtery</h3>
        {control productsFilterForm}
    </div>
    <div id="filter-line"></div>
    <div id="form-filter-open">
        Filtery
    </div>
    <div class="products-list">
        <h1 n:block="title">Nabízené produkty</h1>
        <section class="products-grid" n:if="!empty($products)">
            {foreach $products as $product}
                <div class="products-product">
                    <div class="products-header">
                        <a href="{plink Product:show url=>$product->url}">{$product->name}</a>
                    </div>
                    <div class="products-imageContainer">
                        <div class="products-tags">
                            {if $product->available}
                                <div class="products-tag" style="background-color: #05a">
                                    Na skladě
                                </div>
                            {/if}
                        {foreach $product->categories as $category}
                                <div class="products-tag">
                                    {$category->title}
                                </div>
                            {/foreach}
                        </div>
                        <a href="{plink Product:show url=>$product->url}">
                            <img src="{$basePath . $product->getResourceUrl()}" alt="{$product->name}" class="products-image">
                        </a>
                    </div>
                    <div class="products-description">{$product->description}</div>
                    <div class="products-footer">
                        <div class="products-price">
                            <div>{$product->price}x</div>
                            <img src="{$basePath}/img/emerald.png" alt="Emerald">
                        </div>
                        {control "productCartForm-$product->productId"}
                    </div>
                </div>
            {/foreach}
        </section>
        <div class="products-empty" n:if="empty($products)">
            Žádné produkty nebyly nalezeny.
        </div>
    </div>
</div>
<script src="{$basePath}/js/main.js"></script>
