{varType App\Model\Entities\PurchaseOrder[] $purchaseOrders}

{block content}
<h1 n:block="title">Správa objednávek</h1>
{if !empty($purchaseOrders)}
    <div class="table-container">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Číslo objednávky</th>
                <th scope="col">Datum objednání</th>
                <th scope="col">Jméno</th>
                <th scope="col">Stav</th>
                <th scope="col">Změnit stav</th>
                <th/>
            </tr>
            </thead>
            <tbody>
            {foreach $purchaseOrders as $purchaseOrder}
                <tr>
                    <td>{$purchaseOrder->purchaseOrderId}</td>
                    <td>{$purchaseOrder->createdAt|date:"d.m.Y"}</td>
                    <td>{$purchaseOrder->name}</td>
                    <td>{if $purchaseOrder->state == 'pending'}
                            Čeká na zpracování
                        {elseif $purchaseOrder->state == 'sent'}
                            Odesláno
                        {elseif $purchaseOrder->state == 'delivered'}
                            Doručeno
                        {elseif $purchaseOrder->state == 'canceled'}
                            Zrušeno
                        {/if}
                    </td>
                    <td>
                        {if $purchaseOrder->state == 'pending' || $purchaseOrder->state == 'sent'}
                            <a n:if="$purchaseOrder->state != 'pending'" href="{link changeState $purchaseOrder->purchaseOrderId, 'pending'}" class="btn btn-primary">
                                Čeká na zpracování
                            </a>
                            <a n:if="$purchaseOrder->state != 'sent'" href="{link changeState $purchaseOrder->purchaseOrderId, 'sent'}" class="btn btn-primary">
                                Odesláno
                            </a>
                            <a href="{link changeState $purchaseOrder->purchaseOrderId, 'delivered'}" class="btn btn-primary">Doručeno</a>
                            <a href="{link changeState $purchaseOrder->purchaseOrderId, 'canceled'}" class="btn btn-danger">Zrušeno</a>
                        {/if}
                    </td>
                    <td class="order-expand" style="font-weight: bold">
                        ⇩
                    </td>
                </tr>
                <tr class="expanded-row">
                    <td colspan="5">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col" style="width: 40%">Název</th>
                                <th scope="col" style="width: 30%">Počet</th>
                                <th scope="col" style="width: 30%">Cena</th>
                            </tr>
                            </thead>
                            <tbody>
                            {foreach $purchaseOrder->productOrders as $purchaseOrderItem}
                                <tr>
                                    <td>
                                        <a href="{plink Product:show url=>$purchaseOrderItem->product->url}">
                                            {$purchaseOrderItem->product->name}
                                        </a>
                                    </td>
                                    <td>{$purchaseOrderItem->quantity}</td>
                                    <td>{$purchaseOrderItem->price} <img src="{$basePath}/img/emerald.png" alt="priceImg" width="16px" /></td>
                                </tr>
                            {/foreach}
                            </tbody>
                        </table>
                    </td>
                </tr>
            {/foreach}
            </tbody>
        </table>
    </div>
    <script src="{$basePath}/js/profile.js"></script>
{else}
    <p class="text-muted">Žádné objednávky nebyly nalezeny.</p>
{/if}
